<!DOCTYPE html>
<head>
<title>{{.Title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="template/lazyweb.css">
<link rel="icon" type="image/png" href="/images/icon/lazyweb.png">
</head>
<body>

<div class="header">
<div class="logo"><a href="/"><img src="/images/lazypic_logo.png" width=180 height=60></a></div>
<div class="menu"><a href="/coffecat">Coffeecat</a></div>
<div class="menu"><a href="/shortfilms">Short Films</a></div>
<div class="menu"><a href="/fun">Fun</a></div>
<div class="menu"><a href="/opensource">OpenSource</a></div>
<div class="menuon">About</div>
</div>
<center>
<img src="/images/tower_small.jpg">
</center>

<div id="footer">
2015 Lazypictures. All Rights Reserved.
</div>
