<!DOCTYPE html>
{{template "head.html" .}}
<body>
{{template "menu.html" .}}
<div style="text-align:center">
	<img src="/{{.Image}}"><br>
	<div style="margin:15px">
		{{if ne .Prev ""}}<a id="prev-page" href="/{{.Prev}}"><< 이전</a>{{else}}<span style="color:#333333"><< 이전</span>{{end}}
		<span>&nbsp&nbsp&nbsp&nbsp&nbsp</span>
		{{if ne .Next ""}}<a id="next-page" href="/{{.Next}}">다음 >></a>{{else}}<span style="color:#333333">다음 >></span>{{end}}
	</div>
</div>
{{template "footer.html"}}
<script type="text/javascript">
function changePage(ev) {
	if (ev.which === 37) {
		el = document.getElementById("prev-page");
		if (el) {
			location.href = el.href;
		}
	} else if (ev.which === 39) {
		el = document.getElementById("next-page");
		if (el) {
			location.href = el.href;
		}
	}
}
document.addEventListener("keydown", changePage);
</script>
</body>

</html>
