<footer class="mdl-mini-footer">
<div class="mdl-mini-footer__left-section">
<ul class="mdl-mini-footer__link-list">
<li><a href="http://blog.naver.com/thatsy">Blog</a></li>
<li><a href="https://www.youtube.com/channel/UCHsxW9hros1VlKKd4HAvG8A">Youtube</a></li>
<li><a href="https://vimeo.com/channels/lazypic">Vimeo</a></li>
<li><a href="https://www.instagram.com/coffeecat_yoonji">Instagram</a></li>
<li><a href="https://github.com/lazypic">Github</a></li>
</ul>
<br>
© LazyPictures. All rights Reserved
</div>
</footer>
