<footer class="mdl-mini-footer">
<div class="mdl-mini-footer__left-section">
<div class="mdl-logo">Link</div>
<ul class="mdl-mini-footer__link-list">
<li><a href="http://blog.naver.com/thatsy">Naver</a></li>
<li><a href="https://www.youtube.com/channel/UCHsxW9hros1VlKKd4HAvG8A">Youtube</a></li>
<li><a href="https://vimeo.com/channels/lazypic">Vimeo</a></li>
<li><a href="https://www.instagram.com/coffeecat_yoonji">Instagram</a></li>
<li><a href="https://github.com/lazypic">Github</a></li>
</ul>
Copyright © 2014-2017<br> All rights Reserved by Lazy Pictures.
</div>
</footer>