<!DOCTYPE html>
{{template "head.html" .}}
<body>
{{template "menu.html" .}}
<center>
<div id="content">
<img src="/images/fun.png">
<br><br>
<a href="https://youtu.be/j8of7pahobc" class="link">VR HTC Vive drawing test my character.</a><br>
<a href="https://youtu.be/8zUtqIZCbSY" class="link">TOR Repository History.</a><br>
<a href="https://vimeo.com/channels/lazypic" class="link">Vimeo - Lazypic</a><br>
<a href="https://soundcloud.com/groups/lazypic" class="link">Soundcloud - Lazypic</a><br>
</div>
{{template "footer.html"}}
</body>
</html>
