<head>
<title>Lazypic {{.MenuOn}}</title>
<meta charset="utf-8">
<!--android icon-->
<link rel="icon" href="/images/webicon.png">
<!--apple icon-->
<link rel="apple-touch-icon" href="/images/webicon.png">
<!--load material design lite-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--color theme : https://getmdl.io/customize/index.html-->
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-amber.min.css" />
</head>

