@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	background:#000000;
}

a:link {text-decoration:none; color:#BEC9AB;}
a:visited {text-decoration:none; color:#BEC9AB;}
a:active {text-decoration:none; color:#BEC9AB;}
a:hover {text-decoration:none; color:#5E6455; cursor:pointer;}

a.first {
	color:#349262;
	text-align: center;
	font-family: 'Noto Sans CJK KR', sans-serif;
	font-size: 16px;
}

a img { border: none;}
img {
	vertical-align: middle;
	border: none;
	margin-bottom: 2px;
}

/*content의 a tags를 위해서 셋팅함.*/
a.link {
	color:#349262;
}

div.header {
	background:#000000;
	overflow: auto;
	width: 100%
}

div.menu {
	color:#5E6455;
	background:#000000;
	text-align: center;
	float: left;
	padding: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline-block;
	letter-spacing: 1px;
}


div.menuon {
	color:#BEC9AB;
	background:#000000;
	text-align: center;
	float: left;
	padding: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline-block;
	letter-spacing: 1px;
}


div.logo {
	color: #EEEEEE;
	background:#000000;
	text-align: center;
	float: left;
	padding: 8px;
	width: 200px;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
}

#content {
	color:#BEC9AB;
	padding-bottom:10em;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 2em;
	text-align: center;
}


#about {
	background:#000000;
	padding-bottom:10em;
	text-align: center;
	padding: 30px;
	font-size: 25px;
	letter-spacing: 10px;
}



footer {
	color: #585E53;
	background:#000000;
	height: 100px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	padding: 10px;
}
