<!DOCTYPE html>
<head>
<title>{{.Title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="template/lazyweb.css">
<link rel="icon" type="image/png" href="/images/icon/lazyweb.png">
</head>
<body>

<div class="header">
<div class="logo"><a href="/"><img src="/images/lazypic_logo.png" width=180 height=60></a></div>
<div class="menu"><a href="/featurefilms">Feature Films</a></div>
<div class="menu"><a href="/shortfilms">Short Films</a></div>
<div class="menu"><a href="/fun">Fun</a></div>
<div class="menuon">OpenSource</div>
<div class="menu"><a href="/about">About</a></div>
</div>

<div id="body">
<div id="content">
<br>
<a href="https://github.com/lazypic"><img src="/images/github_link.png"></a>
<br><br>
<a href="https://github.com/lazypic/init" class="link" >lazypic_init</a> : Your computer will be lazypictures environment setting.<br>
<a href="https://github.com/lazypic/web" class="link">lazypic_web</a> : Lazypictures web server source code.<br>
<a href="https://github.com/khw7096/docs" class="link">docs</a> : Simple documentation web server.<br>
</div>
</div>
<div id="footer">
<a href="https://sites.google.com/site/lazypicweb/">Wiki</a> &nbsp;|&nbsp;
2014 - 2015 Lazypictures. All Rights Reserved.
</div>
