<!DOCTYPE html>
<head>
<title>{{.Title}}</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="template/lazyweb.css">
<link rel="icon" type="image/png" href="/images/icon/lazyweb.png">
</head>
<body>

<div class="header">
<div class="logo"><a href="/"><img src="/images/lazypic_logo.png" width=180 height=60></a></div>
<div class="menu"><a href="/coffeecat">Coffeecat</a></div>
<div class="menu"><a href="/shortfilms">Short Films</a></div>
<div class="menu"><a href="/fun">Fun</a></div>
<div class="menuon">OpenSource</div>
<div class="menu"><a href="/about">About</a></div>
</div>

<div id="content">
<br>
<a href="https://github.com/lazypic"><img src="/images/github_link.png"></a>
<br><br>
<a href="https://github.com/lazypic/init" class="link" >init</a> : lazypictures environment setting.<br>
<a href="https://github.com/khw7096/docs" class="link">docs</a> : Simple documentation web server.<br>
<a href="https://github.com/lazypic/web" class="link">web</a> : This site source code.<br>
<a href="https://github.com/lazypic/blenderset" class="link">blenderset</a> : blender setting.<br>
<a href="https://github.com/lazypic/snippet" class="link">snippet</a> : Useful snippet code.<br>
</div>
<div id="footer">
Copyright © 2016 All rights Reserved by Lazypictures.
</div>
