<!DOCTYPE html>
{{template "head.html" .}}
<body>
{{template "menu.html" .}}
<div id="content">
<br>
<a href="https://github.com/lazypic"><img src="/images/github_link.png"></a>
<br><br>
<a href="https://github.com/lazypic/init" class="link" >init</a> : lazypictures environment setting.<br>
<a href="https://github.com/khw7096/docs" class="link">docs</a> : Simple documentation web server.<br>
<a href="https://github.com/lazypic/web" class="link">web</a> : This site source code.<br>
<a href="https://github.com/lazypic/blenderset" class="link">blenderset</a> : blender setting.<br>
<a href="https://github.com/lazypic/snippet" class="link">snippet</a> : Useful snippet code.<br>
</div>
{{template "footer.html"}}
</body>
</html>
