<!DOCTYPE html>
{{template "head.html" .}}
<body>
{{template "menu.html" .}}
<main class="mdl-layout__content">
	<div class="page-content">
	<img src="/{{.Image}}" style="margin-top:50px;text-align:center" width=100%>

<!-- 버튼 -->
<div style="text-align:center;padding:20px">

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" onclick="location.href='/{{lower .MenuOn}}/0'" style="">
	<i class="material-icons">reply_all</i>
</button>

{{if ne .Prev ""}}
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" id="prev-page" onclick="location.href='/{{.Prev}}'">
		<i class="material-icons">keyboard_arrow_left</i>
</button>
{{end}}

{{if ne .Next ""}}
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" id="next-page" onclick="location.href='/{{.Next}}'">
		<i class="material-icons">keyboard_arrow_right</i>
</button>
{{end}}
</div>



{{template "footer.html"}}
</div></main>


<script type="text/javascript">
function changePage(eventKey) {
	if (eventKey.which === 37) {
		prevbutton = document.getElementById("prev-page");
		prevbutton.click()
	} else if (eventKey.which === 39) {
		nextbutton = document.getElementById("next-page");
		nextbutton.click()
	}
}
document.addEventListener("keydown", changePage);
</script>
</body>

</html>
